* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}




html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #06151c;

}

/* Estilos de la cabecera */
.header {
    position: relative;
    display: flex;
    flex-direction: column;

}

.parallax-container {
    transform: translateY(-249px);
    position: relative;
    width: 100%;
    height: 1300px;
    perspective: 1000px;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    transition: transform .1s ease-out;
}

#layer1 {
    z-index: -1;
    transition: transform .3s ease-out;
}

#layer2 {
    z-index: -2;
    transition: transform .3s ease-out;
}

#layer3 {
    z-index: -3;
    transition: transform .3s ease-out;
}

#layer4 {
    z-index: -4;
    transition: transform .3s ease-out;
}

.parallax-layer img {
    display: block;
    width: 100%;
    height: auto;
}

.parallax-layer h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 155px;
    color: #ffffffde;

    text-align: center;
    transform: translateY(-55px);

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    mix-blend-mode: screen;

}

/* Estilos de la barra de navegación */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a00;
  padding: 15px 25px;
  position: relative;
  z-index: 999;
  
}

.logo {
  font-size: 20px;
  font-weight: bold;

}

.logo:hover {
    .logotipo {
        margin-left: 75%;
    }
}

.logotipo {
    max-width: 105px;
    scale: 2.5;
    margin-left: 65%;
    filter: invert(1);
      transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition:  0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: .7;
}

.nav-links a:hover {
  background-color: #ffffff0c;
  border-radius: 50px;
  scale: 1.1;
  transform: translateY(-3px);
  opacity: 1;
}


.search-placeholder {
  width: 180px;
  height: 30px;
  border: 1px dashed #555;
}

/* Botón de menú (móvil) */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .logotipo {
    max-width: 90px;
    scale: 1;
    margin-left: 0;
    filter: invert(1);
    content: url(../img/logo\ pequeño.png);
}

  .nav-links {
    position: fixed;
    top: 0;
    left: -360px;
    width: 300px;
    height: 40vh;
    background-color: #1a1a1a;
    backdrop-filter: blur(0px);
    flex-direction: column;
    padding: 30px 20px;
    gap: 2px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1000;
    border-radius: 0 0 0px 0;
    opacity: 0;
  }

  .nav-links.show {
    left: 0;
    background-color: #1a1a1a9d;
    border-radius: 0 0 50px 0;
   border-right: solid 1px #ffffff56;
   backdrop-filter: blur(19.5px);
    height: 55vh;
    width: 350px;
    gap: 20px;
    opacity: 1;
  }
}





.buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
    position: relative;
}

.search-container {
    position: relative;
}

#searchInput {
    width: 55%;
    padding: 10px 40px 10px 20px;
    background: rgba(255, 255, 255, 0.651);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    transition: width 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#searchInput:hover {
    width: 70%;
}

#searchInput:focus {
    width: 100%;
    outline: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff7f7;
}

#searchResults {
    scrollbar-width: none;
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.774);
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    display: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.4s ease, max-height 0.4s ease;
    max-height: 0;
    overflow-y: hidden;
    z-index: 10;
    padding: 10px 15px;
    backdrop-filter: blur(5.5px);
}

#searchResults.show {
    display: block;
    opacity: 1;
    max-height: 250px;
    overflow-y: auto;
}

#searchResults a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#searchResults a:hover {
    background: #c5d6fe;
    transform: scale(1.05);
}

#searchResults .no-results {
    padding: 10px;
    text-align: center;
    color: #666;
}

.blur-background {
    filter: blur(15.5px);
    -webkit-filter: blur(5.5px);
    transition: filter 0.4s ease;
    z-index: 999;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.514);
    z-index: 90;
    transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    backdrop-filter: blur(15.5px);
    display: none;
}





















@keyframes subir {
    form{
 
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
} 


.grid-container {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    
    "a b c"
    "d b e"
    
    ;
    transform: translateY(-450px);
}

.grid-item {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background: url(../img/img\ 18.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.grid-item:hover {
    transform: translateY(-15px);
}




.grid-item:nth-child(1) {
    grid-area: a;
    transform: translateX(95px);
    .descripcion {
        display: none;

    }
}

.grid-item:nth-child(1):hover {
    transform: translateX(95px) translateY(-15px);
    .descripcion {
        display: flex;
    }
}
.grid-item:nth-child(2) {
    grid-area: b;
    width: 350px;
    height: 750px;
    background: url(../img/img\ 8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.grid-item:nth-child(3) {
    grid-area: c;
    width: 300px;
    height: 350px;
    background: url(../img/img\ 41.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-item:nth-child(4) {
    grid-area: d;
    width: 350px;
    height: 300px;
    background: url(../img/img\ 14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-item:nth-child(5) {
    grid-area: e;

    background: url(../img/img\ 40.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-200px);

}

.titulo {
    display: flex;
    text-align: center;
    font-size: 74px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: #ececec;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 40%;
    animation-fill-mode: both;

}



.parrafos {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
}


.parrafos p {
    opacity: .7;
    text-align: center;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;
}


@keyframes marco-hs  {
    from {
        scale: .4;
        box-shadow: 0 0px 5px #030b0f7c;
        opacity: 0;
    }

    to {
        scale: 1;
    }
}


.titulo-container-horarios {
    display: flex;
    justify-content: center;

    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    margin-bottom: -220px;
}


.titulo-horario {
 color: #ececec;

}

.titulo-horario h2 {
    font-size: 45px;
    transform: translateX(5%);
    color: #F4B446;
}

.titulo-horario h1 {
    font-size: 155px;
    scale: 1;
    color: transparent;
    transform: translateY(-125px);
    -webkit-text-stroke: 2px #F4B446;

}



.misionyvision {
    display: flex;
    justify-content: center;
    align-items: center;
    .parrafos {
        text-align: center;
    }

    .parrafos p {
        view-timeline-name: --image;
        view-timeline-axis: block ;
        animation-timeline: --image;
        animation-name: marco-hs;
        animation-range: entry 0% cover 50%;
        animation-fill-mode: both;
    }



}


.marco-img-2024 img {
    max-width: 100%;
}

.familia-pastoral {
opacity: 1;

}

.ministerios {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background: #0f2631;
    border-right: solid 1px #ffffff5d;
    box-shadow: 0 5px 5px #030b0f4d;
    perspective: 1000px;
    margin: 20px;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    z-index: 999;
    
  
  }

  .card h1 {
    color: #fff;
  }
  
  .content {
    width: 350px;
    height: 200px;
    background: url(../img/img\ 28.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-right: solid 1px #ffffff5d;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .content h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .content p {
    margin: 10px 0 0;
    font-size: 16px;
  }
  
  .content img   {
    max-width: 40px;
    scale: 2;
  }
  
  .card:hover .content {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));

  
  }
  

  .content:hover {
    scale: 1.2;
  }


  .contedido-ministerios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
  }


  .ministerio-sector {
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background: #0f2631;
    border-right: solid 1px #ffffff5d;
    box-shadow: 0 5px 5px #030b0f4d;
    color: #fff;
  }

  .ministerio-sector:last-child{
    transform: translateX(50%);
  }


  .imagen-mn {
    width: 500px;
    height: 300px;

    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }


  .imagen-mn img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-right: solid 1px #ffffff5d;
  }


  .marco-img-2024{
    width: 100%;
    height: 800px;
    background: url(../img/img\ 32.png);
    background-size: cover;
    background-attachment: unset;
  }


  footer {
    background: #030303;
    padding: 25px;
    margin-top: 15%;
    }
    
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    
    
    }
    
    .titulo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .titulo-footer h1 {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 8px;
        scale: 6;
    }
    
    
    .titulo-footer p {
        color: #fff;
        font-size: 15px;
    
    }
    
    
    .footer-nav {
        margin-top: 50px;
        display: flex;
        gap: 25px;
    }
    
    .footer-nav a {
        text-decoration: none;
        color: #fff;
    }
    
    
    .social-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .social-titulo h3 {
        color: #ffffff70;
    }
    
    
    .social-footer {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-bottom: solid 1px #ffffff48;
    }
    
    .social-footer a {
        text-decoration: none;
    }
    
    .social-footer a img {
        max-width: 50px;
        filter: invert(1);
        transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    
    .social-footer a img:hover {
        max-width: 50px;
        filter: invert(1);
        scale: 1.2;
    }
    
    
    .creditos {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .creditos h3 {
        color: #fff;
        font-weight: 100;
        font-size: 15px;
        opacity: 0.5;
    
    }
    
    .creditos a {
        color: #fff;
        font-weight: 100;
        font-size: 15px;
        opacity: 0.5;
    
    }
    
    
    @media (max-width: 490px) {
     
html {
    scrollbar-width: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #06151c;

}

/* Estilos de la cabecera */
.header {
    position: relative;
    display: flex;
    flex-direction: column;

}

.parallax-container {
    transform: translateY(-249px);
    position: relative;
    width: 100%;
    height: 800px;
    perspective: 1000px;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    transition: transform .1s ease-out;
}

#layer1 {
    z-index: -1;
    transition: transform .3s ease-out;
}

#layer2 {
    z-index: -2;
    transition: transform .3s ease-out;
}

#layer3 {
    z-index: -3;
    transition: transform .3s ease-out;
}

#layer4 {
    z-index: -4;
    transition: transform .3s ease-out;
}

.parallax-layer img {
    display: block;
    width: 100%;
    height: auto;
}

.parallax-layer h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #ffffffde;

    text-align: center;
    transform: translateY(-55px);

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    mix-blend-mode: screen;

}



                /* Fotos Principales */


    
    .grid-container {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    
    "a b c"
    "d b e"
    
    ;
    transform: translateY(-550px);
}

.grid-item {
    width: 100px;
    height: 150px;
    border-radius: 15px;
    background: url(../img/img\ 18.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.grid-item:hover {
    transform: translateY(0px);
}




.grid-item:nth-child(1) {
    grid-area: a;
    transform: translateX(0px);
    .descripcion {
        display: none;

    }
}

.grid-item:nth-child(1):hover {
    transform: translateX(0px) translateY(-15px);
    .descripcion {
        display: flex;
    }
}
.grid-item:nth-child(2) {
    grid-area: b;
    width: 150px;
    height: 300px;
    background: url(../img/img\ 8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.grid-item:nth-child(3) {
    grid-area: c;
    width: 100px;
    height: 150px;
    background: url(../img/img\ 41.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-item:nth-child(4) {
    grid-area: d;
    width: 100px;
    height: 100px;
    background: url(../img/img\ 14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-item:nth-child(5) {
    grid-area: e;

    background: url(../img/img\ 40.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




/* resto */


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-350px);

}

.titulo {
    display: flex;
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: #ececec;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 40%;
    animation-fill-mode: both;

}



.parrafos {
    color: #fff;
    display: grid;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 10px;
}


.parrafos p {
    opacity: .7;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 45% cover 30%;
    animation-fill-mode: both;
}


@keyframes marco-hs  {
    from {
        scale: .4;
        box-shadow: 0 0px 5px #030b0f7c;
        opacity: 0;
    }

    to {
        scale: 1;
    }
}


.titulo-container-horarios {
    display: flex;
    justify-content: center;

    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    margin-bottom: -220px;
}


.titulo-horario {
 color: #ececec;

}

.titulo-horario h2 {
    font-size: 35px;
    transform: translateX(5%);
    transform: translateY(-200px);
    color: #F4B446;
}

.titulo-horario h1 {
    font-size: 35px;
    scale: 1;
    color: transparent;
    transform: translateY(-240px);
    -webkit-text-stroke: 1.5px #F4B446;

}



.misionyvision {
    display: flex;
    justify-content: center;
    align-items: center;
    .parrafos {
        text-align: center;
    }

    .parrafos p {
        view-timeline-name: --image;
        view-timeline-axis: block ;
        animation-timeline: --image;
        animation-name: marco-hs;
        animation-range: entry 0% cover 50%;
        animation-fill-mode: both;
    }



}


.marco-img-2024 img {
    max-width: 100%;
}

.familia-pastoral {


    margin-bottom: 200px;

}

.ministerios {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    border-right: solid 1px #ffffff38;
    background: #0d1e25da;
    box-shadow: 0 5px 5px #081c254d;
    perspective: 1000px;
    margin: 20px;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    z-index: 999;
    
  
  }

  .card h1 {
    color: #fff;
  }
  
  .content {
    width: 350px;
    height: 200px;
    background: url(../img/img\ 28.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .content h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .content p {
    margin: 10px 0 0;
    font-size: 16px;
  }
  
  .content img   {
    max-width: 40px;
    scale: 2;
  }
  
  .card:hover .content {
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));

  
  }
  

  .content:hover {
    scale: 1.2;
  }


  .contedido-ministerios {
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
  }


  .ministerio-sector {
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: marco-hs;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    border-right: solid 1px #ffffff38;
    background: #0d1e25da;
    box-shadow: 0 5px 5px #030b0f4d;
    color: #fff;
  }

  .ministerio-sector:last-child{
    transform: translateX(0);
  }


  .imagen-mn {
    width: 300px;
    height: 190px;
    border-right: solid 1px #ffffff5d;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }


  .imagen-mn img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }


  .marco-img-2024{
    width: 100%;
    height: 1px;
    background: url(../img/img\ 32.png);
    background-size: cover;
    background-attachment: unset;
  }


  footer {
    background: #030303;
    padding: 25px;
    margin-top: 15%;
    }
    
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    
    
    }
    
    .titulo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .titulo-footer h1 {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 8px;
        scale: 6;
    }
    
    
    .titulo-footer p {
        color: #fff;
        font-size: 15px;
    
    }
    
    
    .footer-nav {
        margin-top: 50px;
        display: flex;
        gap: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .footer-nav a {
        text-decoration: none;
        color: #fff;
        
    }
    
    
    .social-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .social-titulo h3 {
        color: #ffffff70;
    }
    
    
    .social-footer {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-bottom: solid 1px #ffffff48;
    }
    
    .social-footer a {
        text-decoration: none;
    }
    
    .social-footer a img {
        max-width: 50px;
        filter: invert(1);
        transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    
    .social-footer a img:hover {
        max-width: 50px;
        filter: invert(1);
        scale: 1.2;
    }
    
    
    .creditos {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .creditos h3 {
        color: #fff;
        font-weight: 100;
        font-size: 15px;
        opacity: 0.5;
    
    }
    
    .creditos a {
        color: #fff;
        font-weight: 100;
        font-size: 15px;
        opacity: 0.5;
    
    }
  
    }
    